extends layout

block content
    if user
      h1 welcome back #{user.Username}
      a(href="/log-out") logout
    else 
      h1 please log in or 
        a(href="/sign-up") sign up
      form(method="POST" action="/log-in")
        div.form-group
          label(for="username") Username:
          input#username.form-controler(type="text" name="username" required="true")
        div.form-group
          label(for="password") Password:
          input#password.form-controler(type="password" name="password" required="true")
        button.btn.btn-primary(type='submit') Log in
      
    if user
      if user.Admin
        if messages 
          each message in messages  
            ul
              li Username: #{message.Username}
              li Title: #{message.title}
              li Text: #{message.text}
              li Date: #{message.timestamp}
              li 
                form(method="POST" action="/delete")
                  div.form-group
                    input#messageId.form-control(type='hidden',name='messageId', required='true', value=message._id )
                  button.btn.btn-primary(type='submit') Delete
        else 
          p no messages
      else 
        if messages 
          each message in messages 
            if user.Membership  
              ul
                li Username: #{message.Username}
                li Title: #{message.title}
                li Text: #{message.text}
                li Date: #{message.timestamp}
            else 
              ul 
                li Anymouse
                li Title: #{message.title}
                li Text: #{message.text}
        else 
          p no messages
    else 
      if messages 
        each message in messages 
          ul 
            li Anymouse
            li Title: #{message.title}
            li Text: #{message.text}
      